.search {
  transform: translateY(-50%);
  position: relative;
  width: 70%;
  margin: 0 auto;
  display: block;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  transition: border-color 0.1s linear;
  &:hover {
    border-color: #4295f6;
  }
}

.icon {
  position: absolute;
  fill: none;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  width: 100%;
  outline: none;
  padding: 32px 24px 32px 44px;
  font-size: 18px;
  line-height: 24px;
  color: #444444;
  &::placeholder {
    color: #bfbfbf;
  }
}
