.grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 0;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #444444;
  border-radius: 5px;
  transition: background-color 0.1s linear;

  &:hover {
    color: #ffffff;
    background-color: #4295f6;
  }
}
